@font-face {
  font-family: 'Benn';
  src: url('/fonts/Benn.woff2') format('woff2'),
       url('/fonts/Benn.woff') format('woff'),
       url('/fonts/Benn.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FamiliarPro-Regular';
  src: url('/fonts/FamiliarPro-Regular.woff2') format('woff2'),
       url('/fonts/FamiliarPro-Regular.woff') format('woff'),
       url('/fonts/FamiliarPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
