@font-face {
  font-family: 'Benn';
  src: url('/fonts/Benn.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FamiliarPro';
  src: url('/fonts/FamiliarPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FamiliarPro';
  src: url('/fonts/FamiliarPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FamiliarPro';
  src: url('/fonts/FamiliarPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}